.lead {
  background-color: #F3C1F8;
  max-width: 1140px;
  margin: 0 auto;

  padding: 75px 15px 75px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 140px 15px 76px;

    max-width: 728px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 428px) {
  .lead {
    padding: 70px 15px 30px;
  }
}