.about {
  padding: 110px 15px;
  max-width: 1140px;
  font-weight: 400;
  color: #000;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 15px;
    max-width: 668px;
  }
}

@media screen and (max-width: 428px) {
  .about  {
    padding: 70px 15px;
  }
}