.form__fieldset {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 40px 0 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .form__fieldset {
    margin-top: 80px;
  }
}