.student__portfolio-item-link {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -.04em;
  color: #000;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-transition: opacity .5s linear 0s;
  -o-transition: opacity .5s linear 0s;
  transition: opacity .5s linear 0s;
}

.student__portfolio-item-link:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .student__portfolio-item-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 428px) {
  .student__portfolio-item-link {
    font-size: 18px;
    line-height: 28px;
  }
}