.student__info-description {
  margin: 26px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .student__info-description {
    margin-top: 20px;

    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 428px) {
  .student__info-description {
    font-size: 11px;
    line-height: 16px;
  }
}