.card__like-btn {
  margin: 30px 0 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/unsaved.svg);
  width: 14px;
  height: 12px;
  cursor: pointer;
  -webkit-transition: all .1s linear 0s;
  -o-transition: all .1s linear 0s;
  transition: all .1s linear 0s;
}

.card__like-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 640px) {
  .card__like-btn {
    margin: 0;
    justify-self: end;
    grid-column-start: 2;
    grid-row-start: 1;
  }
}