.about__scale {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 119px 0 0;
}

@media screen and (max-width: 768px) {
  .about__scale {
    margin-top: 93px;
  }
}

@media screen and (max-width: 428px) {
  .about__scale {
    margin-top: 60px;
  }
}