.tech__table-item {
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 21px 0;
  font-size: 14px;
  line-height: 17px;
  width: 90px;
}

@media screen and (max-width: 768px) {
  .tech__table-item {
    width: 84px;

    font-size: 12px;
    line-height: 15px;

    margin-bottom: 10px;
  }
}

.tech__table-item:not(:last-of-type) {
  margin-right: 10px;
}
