.student__info-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -.04em;
}

@media screen and (max-width: 768px) {
  .student__info-title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .student__info-title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 428px) {
  .student__info-title {
    font-size: 30px;
    line-height: 37px;
  }
}
