.lead__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .lead__title  {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-top: 22px;
  }
}

@media screen and (max-width: 428px) {
  .lead__title  {
    font-size: 30px;
    line-height: 38px;
    margin-top: 44px;
  }
}