.tech__table {
  margin: 100px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .tech__table {
    margin-top: 83px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 428px) {
  .tech__table {
    margin-top: 50px;
    padding: 0 auto;
    max-width: 200px;
    justify-content: flex-start;
  }
}