.header__menu-item:not(:last-of-type) {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .header__menu-item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 22px;
  }
}

.header__menu-item {
  margin: auto 0;
}

@media screen and (max-width: 768px) {
  .header__menu-item {
    text-align: center;
  }
}