.student {
  padding: 110px 15px 125px;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .student {
    max-width: 668px;
  }
}

@media screen and (max-width: 428px) {
  .student {
    padding: 70px 15px;
  }
}