.about__info-item {
  max-width: 550px;
}

.about__info-item:not(:last-of-type)  {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .about__info-item  {
    max-width: 319px;
  }
}

@media screen and (max-width: 640px) {
  .about__info-item:not(:last-of-type)  {
    margin-bottom: 56px;
    margin-right: 0;
  }
}