.student__info-text {

}

@media screen and (max-width: 640px) {
  .student__info-text {
    order: 2;
    text-align: center;
  }
}

@media screen and (max-width: 428px) {
  .student__info-text {
    text-align: start;
  }
}