.lead__link {
  width: 129px;
  min-height: 36px;
  box-sizing: border-box;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 20px;
  border: 1px solid #000;
  text-decoration: none;
  border-radius: 3px;
  opacity: .6;

  white-space: nowrap;

  -webkit-transition: opacity .5s linear 0s;
  -o-transition: opacity .5s linear 0s;
  transition: opacity .5s linear 0s;
}

.lead__link:hover {
  opacity: .4;
}
